/* Layout.module.css */

.layout {
    display: flex;
    flex-direction: row;
    padding-left: var(--space-xl);
    gap: 2rem;
  }
  
  .navbar {
    max-width: 18rem;
    padding-left: 10px;
    padding-top: 20px;
    width: 100%;
  }
  
  .content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }
  
  @media (min-width: 1024px) {
    .layout {
      flex-direction: row;
    }
  
    .content {
      margin-top: 2rem;
      padding: 3rem;
    }
  }
  