/* Layout.module.css */

.layout {
  /* display: flex;
  flex-direction: row; */
  padding-left: var(--space-xl);
  /* gap: 2rem; */
}

.sidebar {
  /* max-width: 18rem; */
  padding-left: 0px;
  padding-top: 0px;
}

.navbar {
}

.content {
  /* margin-top: 6rem;
  margin-left: 300px; */
  /* display: flex;
  width: 100%; */
  padding-top: 40px;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
  overflow: auto;
  background-color: var(--amplify-colors-white);
  /* background-color: red; */
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
}

@media (min-width: 1024px) {
  .layout {
    /* flex-direction: row; */
  }
  .content {
    /* margin-top: 2rem;
    padding: 3rem; */
  }
}
