/* Layout.module.css */

.layout {
  /* display: flex;
  flex-direction: row; */
  padding-left: var(--space-xl);
  /* gap: 2rem; */
}

.sidebar {
  /* max-width: 18rem; */
  padding-left: 0px;
  padding-top: 0px;
}

.navbar {
}

.content {
  /* margin-top: 6rem;
  margin-left: 300px; */
  /* display: flex;
  width: 100%; */
  padding-top: 40px;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
  overflow: auto;
  background-color: var(--amplify-colors-white);
  /* background-color: red; */
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
}
.header{
  display: none;
}

.logo {
  width: 2rem;
  height: 2rem;
}

.title {
  color: #4a5568; /* blue-gray color */
}



.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: '0.5rem';
}

.iconButton {
  margin-left: auto;
  padding: '5rem';
}
@media (max-width: 768px) {
 
  .navbar {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .open-menu-button {
    display: block;
  }
  .header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
  .mobileNav {
    position: absolute;
    z-index: 1000;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--amplify-colors-white);
  }  
}

@media (min-width: 769px) {
  .open-menu-button {
    display: hidden;
  }
}
