.navList {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
}

.navItem {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: #000;
  text-decoration: none;
  gap: 8px;
  border-radius: var(--border-radius-medium);
}

.navItem .icon {
  margin-right: 8px;
  background-color: var(--amplify-colors-brand-primary-10);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-medium);
  color: var(--amplify-colors-brand-primary-100);
}

.navItem:hover {
  background-color: var(--amplify-colors-brand-primary-20);
  color: var(--amplify-colors-brand-primary-100);
}

.active {
  background-color: var(--amplify-colors-brand-primary-80);
  color: var(--amplify-colors-brand-primary-10);
}

.active:hover {
  background-color: var(--amplify-colors-brand-primary-80);
  color: var(--amplify-colors-brand-primary-10);
}
/* 
.hovered {
  background-color: red;
} */
